@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F5F7F8] text-[#222222];
}

/* Ocultar scrollbar pero mantener funcionalidad */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
